<form name="login" action="[[ path('login') ]]" method="post">
    <h2>{{ name }}</h2>
    <input type="email" value="" placeholder="Introduce tu email" required="true"><br>
    <input type="password" placeholder="Introduce tu contraseña" required="true"><br>
    <input type="submit" value="Enviar">
</form>